@import "@styles/theme.scss";

.home {
  position: relative;
}

.home-search {
  position: absolute;
  top: 16px;
  left: 0;
  width: 100%;
  padding: 0 24px;
  background: #ffffff;
  z-index: 9;

  &-wrap {
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    border: none;
    background: #f1f0f0;
    border-radius: 16px;
  }

  &-img {
    margin: 0 22px;
    width: 30px;
    height: 30px;
  }

  &-input {
    width: 92%;
  }

}

.home-wrap {
  // margin-top: 106px;
  padding: 0px 32px;
  // background: #fafafa;
}

.vedio-container{
  width: 100%;
  height: 100%;
  .vedio-list{
    width: 100%;
    min-height: 504px;
    margin-bottom: 50px;
    clear: both;
    &-img{
      width: 100%;
      height: 384px;
      margin: 0 auto;
      position: relative;
      // background: #10aeff;
      .vedio-spec{
        width: 100%;
        height: 100%;
      }
      &-txt{
        font-size: 24px;
        color: #ffffff;
        position: absolute;
        right: 24px;
        bottom: 24px;
        text-shadow: 0 2px 2px rgba($color: #000000, $alpha: 1.0);
      }
    }
    &-title{
      font-size: 32px;
      margin: 24rpx 0;
      // font-weight: bolder;
      color: #000;
    }
    &-des{
      width: 100%;
      font-size: 28px;
      color: #000;
      &-label-left{
        float: left;
        &-txt{
          max-width: 260px;
          margin-right: 32px;
          float: left;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      &-label-right{
        color: #666;
        float: right;
        display: flex;
        align-items: center;
        margin-left: 32px;
        .like-img{
          width: 28px;
          height: 28px;
          margin-right: 18px;
        }
      }
    }
  }
}

.home-loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80px;

  &-txt {
    color: $text-color-light;
    font-size: 24px;
  }
}
